KITDEV_LIFECYCLE=@KITDEV_LIFECYCLE@
NODE_ID=kitdev-e2b-01
NODE_IP=@KITDEV_CORE_GATEWAY@
ENVIRONMENT=prod
ORCHESTRATOR_SERVICES=orchestrator,template-manager
USE_LOCAL_NAMESPACE_STORAGE=true
GRPC_PORT=5008
PROXY_PORT=5007
NBD_POOL_SIZE=16
ORCHESTRATOR_LOCK_PATH=/var/lib/kitdev-sandboxes/data/runtime/orchestrator/.lock
ORCHESTRATOR_BASE_PATH=/var/lib/kitdev-sandboxes/data/runtime/orchestrator
SANDBOX_DIR=/var/lib/kitdev-sandboxes/data/runtime/sandbox-vms
SANDBOX_CACHE_DIR=/var/lib/kitdev-sandboxes/data/runtime/sandbox-cache
SNAPSHOT_CACHE_DIR=/var/lib/kitdev-sandboxes/data/runtime/snapshot-cache
TEMPLATE_CACHE_DIR=/var/lib/kitdev-sandboxes/data/runtime/template-cache
TEMPLATES_DIR=/var/lib/kitdev-sandboxes/data/runtime/build-templates
SHARED_CHUNK_CACHE_PATH=/var/lib/kitdev-sandboxes/data/runtime/shared-chunk-cache
TEMPLATE_STORAGE_URL=file:///var/lib/kitdev-sandboxes/data/runtime/orchestrator/template-storage/templates
BUILD_CACHE_STORAGE_URL=file:///var/lib/kitdev-sandboxes/data/runtime/orchestrator/build-cache
LOCAL_UPLOAD_BASE_URL=http://@KITDEV_CORE_GATEWAY@:5008
PROVIDER=local
ARTIFACTS_REGISTRY_PROVIDER=Local
TARGET_ARCH=amd64
DEFAULT_KERNEL_VERSION=vmlinux-6.1.158
DEFAULT_FIRECRACKER_VERSION=v1.14.1_431f1fc
FIRECRACKER_VERSIONS_DIR=/var/lib/kitdev-sandboxes/data/runtime/firecrackers
HOST_KERNELS_DIR=/var/lib/kitdev-sandboxes/data/runtime/kernels
BUSYBOX_VERSION=1.36.1
HOST_BUSYBOX_DIR=/var/lib/kitdev-sandboxes/data/runtime/busybox
HOST_ENVD_PATH=/var/lib/kitdev-sandboxes/data/runtime/envd/envd
SANDBOX_ORCHESTRATOR_IP=192.0.2.1
SANDBOX_HYPERLOOP_PROXY_PORT=5010
SANDBOX_NFS_PROXY_PORT=5011
SANDBOX_PORTMAPPER_PORT=5012
SANDBOX_TCP_FIREWALL_HTTP_PORT=5016
SANDBOX_TCP_FIREWALL_TLS_PORT=5017
SANDBOX_TCP_FIREWALL_OTHER_PORT=5018
SANDBOXES_HOST_NETWORK_CIDR=10.11.0.0/16
SANDBOXES_VRT_NETWORK_CIDR=10.12.0.0/16
